{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "useBuiltIns": false,
        "loose": true,
        "targets": {
          "browsers": ["last 2 Chrome versions"]
        }
      }
    ]
  ],
  "plugins": [
    [
      "transform-react-jsx",
      {
        "pragma": "h"
      }
    ],
    ["transform-object-rest-spread", { "useBuiltIns": true }],
    "transform-class-properties"
  ]
}
